.editInfo {
	display: grid;
	grid-template-columns: 100%;
}

.left {
	/* flex: 2; */
}

.right {
	/* flex: 1; */
	/* background: red; */
}

.main h3 {
	text-align: center;
}
.main .profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 48px 0px;
	padding-top: 100px;
	color: white;
	background: linear-gradient(270deg, #c3530a -2.97%, #191222 103.98%);
	border-radius: 0px 0px 32px 32px;
	border-style: none;
	/* height: 75vh;
	position: relative; */
}

.main .profile h2,
.profile p {
	margin: 0%;
}

.main .profile .profile_picture {
	width: 200px;
	height: 200px;
	border-color: white;
	border-width: 3px;
	border-style: solid;
	border-radius: 100%;
	margin-bottom: 20px;
	position: relative;
	object-fit: cover;
	overflow: clip;
}

main .statistics_section {
	padding: 32px 0px;
}
main .statistics_section .statistics {
	text-align: center;
}
main .statistics_section .statistics span {
	font-weight: bold;
}
main .statistics_section .separator {
	margin: 10px;
}

.main .bio {
	padding: 0px 20px;
}

.main .post_something {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 48px 0px;
}

.main .post_something h3 {
	margin: 0%;
}

.main .post_something button {
	padding: 20px 48px;
	color: white;
	background-color: black;
	border-radius: 50px;
	border: none;
	margin-top: 20px;
	width: 250px;
}
.main .user_post h4,
.user_post h3 {
	margin: 0%;
}
.main .user_post h4 {
	text-align: center;
	color: gray;
}
.main .posts {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-gap: 16px;
	width: 100%;
	justify-items: center;
	align-items: center;
}

.main .post_card {
	margin: 16px 0;
	height: 450px;
	/* object-fit: cover;
	min-height: 110px;
	min-width: 110px;
	position: relative; */
}

.main .post_image {
	width: 300px;
	max-height: 450px;
	/* object-fit: cover; */
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.favorite {
	padding: 8px;
	/* border-radius: 10px; */
	background-color: transparent;
	transform: scale(1.5);
	color: red;
}

.favorite:hover {
	cursor: pointer;
}

.match_button {
	display: flex;
	align-items: center;
	width: 200px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	border: 0;
	background: linear-gradient(to right, #af85be, #d3a3a9, #d6bfbc);
}

.match_icon {
	/* background-color: transparent; */
	color: red;
}

.match_icon:hover {
	background-color: #ccc;
}

.match_button:hover {
	background: linear-gradient(to left, #af85be, #d3a3a9, #d6bfbc);
	cursor: pointer;
}

.rejected_match {
	background: linear-gradient(to top right, black, red);
	color: #ccc;
}

.rejected_match:hover {
	cursor: not-allowed;
	background: linear-gradient(to bottom left, black, red);
}

.accepted_match {
	display: flex;
	align-items: center;
	width: 200px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	background: linear-gradient(to top right, black, limegreen);
	color: #ccc;
}

.accepted_match:hover {
	cursor: pointer;
	background: linear-gradient(to bottom left, black, limegreen);
}

.pending_match {
	display: flex;
	align-items: center;
	width: 200px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	background: linear-gradient(to top right, black, orange);
	color: #ccc;
}

.pending_match:hover {
	cursor: pointer;
	background: linear-gradient(to bottom left, black, orange);
}

.match_button_decline {
	display: flex;
	align-items: center;
	width: 100px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	border: 0;
	background: linear-gradient(to right, #fe2802, #be3e27, #a73d36);
}

.choice_buttons {
	display: flex;
	justify-content: space-around;
}

.match_button_accept {
	display: flex;
	align-items: center;
	width: 100px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	border: 0;
	background: linear-gradient(to right, #55e512, #12c329, #0e9c23);
}

.match_button_accept:hover {
	background: linear-gradient(to left, #12daac, #30e2b0, #56dcaf);
	cursor: pointer;
}

.match_button_decline:hover {
	background: linear-gradient(to left, #ed5353, #f45f5f, #f57a7a);
	cursor: pointer;
}

.change_mind {
	display: flex;
	align-items: center;
	width: 200px;
	height: 50px;
	justify-content: center;
	border-radius: 20px;
	border: 0;
	background: linear-gradient(to right, #ccf905, #e3f033, #f1f16a);
}

.change_mind:hover {
	background: linear-gradient(to left, #d1ed63, #cbe861, #d2e080);
	cursor: pointer;
}

.editBio {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px;
}

.editBio button {
	background-color: transparent;
	font-weight: 700;
	border: 0;
	cursor: pointer;
}

.pillsView {
	padding: 0 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}

.pillContainer {
	padding: 20px 0;
}

.pills {
	background-color: #d9d9d9;
	color: 2C2A2A;
	border: 0;
	border-radius: 20px;
	padding: 5px;
	margin: 5px;
	font-size: 12pt;
}

.segmentGrid {
	/* display: grid;
	grid-template-columns: auto auto; */
}

.segmentContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	/* gap: 50px; */
}

.segmentContainer button {
	background-color: transparent;
}

@media (min-width: 768px) {
	.main .profile {
		flex-direction: row;
		text-align: left;
		gap: 64px;
		padding: 64px;
		align-items: center;
		padding-top: 100px;
	}
	.main .profile h2 {
		font-size: 48px;
	}
	main .statistics_section {
		display: flex;
		justify-content: space-between;
		padding: 20px 64px;
		padding-top: 40px;
	}
	.main h3 {
		text-align: left;
	}
	.main .bio {
		padding: 20px 64px;
	}
	.main .bio p {
		width: 50%;
	}
	.main .user_post {
		padding: 0px 64px;
	}
	.main .posts {
		grid-template-columns: 33% 33% 33%;
		gap: 5px;
	}
	.main .post_card {
		/* height: 250px;
		width: 250px; */
	}
	.main .post_something {
		display: none;
	}
	.main .user_post h4 {
		display: none;
	}
	.main .user_post {
		padding: 20px 64px;
	}
	.buttons {
		flex-direction: row;
		gap: 50px;
	}

	.buttons button {
		margin: auto;
	}

	.editInfo {
		display: grid;
		grid-template-columns: 60% 40%;
	}
}
