@font-face {
	font-family: 'Kaushan Script';
	src: url('/fonts/KaushanScript-Regular.ttf'); /* Adjust the path to the font file */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	src: url('/fonts/static/Outfit-Regular.ttf'); /* Adjust the path to the font file */
	font-weight: normal;
	font-style: normal;
}

body {
	color: rgba(19, 19, 19, 1);
	background: rgba(239, 239, 239, 1);
	padding: 0;
	margin: 0;
	font-family: 'Outfit', sans-serif;
}
